:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Basteleur";
  src: local("SFBaseteleur-Bold"), url("/fonts/SFBasteleur-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Basteleur";
  src: local("SFBaseteleur-Moonlight"), url("/fonts/SFBasteleur-Moonlight.ttf") format("truetype");
  font-weight: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Basteleur, serif;
  margin: 0;
}
